<div style="text-align: center"><h1>E-Commerce</h1> </div>
<div class="container">
	<nav class="navbar navbar-light bg-faded">
		<a class="navbar-brand" href="#">Products</a>
  </nav>

     <p></p>
	 <div class="container">
		<% @products.each do |product| %>
			<h2>
				<%= product.id %>.
				<%= link_to product.name, product %>
			</h2>
			<h5>
				<%=  link_to "Edit", edit_product_path(product) %>
				<%=  link_to "Delete", product,:data => {:confirm => 'Are you sure?'}, :method => :delete %>
			</h5>
			<hr />
		<% end -%>
		<%= link_to "Add new Product", new_product_path %>
		</div> <!-- /container -->
</div> <!-- /container -->