<div style="text-align: center"><h1>E-Commerce</h1> </div>
<div class="container">
	<nav class="navbar navbar-light bg-faded">
		<a class="navbar-brand" href="#">Products</a>
  </nav>
	<div class="row">
		<% @products.each do |product| %>
		<div class="col-md-4">
			<h2>
				<%= product.id %>.
				<%= link_to product.name, product %>
			</h2>
			<h5>
				<%=  link_to "Edit", edit_product_path(product) %>
				<%=  link_to "Delete", product,:data => {:confirm => 'Are you sure?'}, :method => :delete %>
			</h5>
			<hr />
		</div>
		<% end -%>
	</div>
  <p></p>
  <%= link_to "Add new Product", new_product_path %>
</div> <!-- /container -->